* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: #5b6677;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 256px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  border-radius: 30px;
}

.sidebar .head {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #757575;
}

.user-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img {
  width: 100%;
  object-fit: cover;
}

.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
